<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="__PUBLIC__/js/flexible.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.1.min.js"></script>
		<title>团团邀你来点单</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/clickPage.css?v={:time()}">
    </head>
    <body>
        <div id="mustBox">
            <img src="__PUBLIC__/img/mustKnow.png?v={:time()}">
            <div id="mustDet">
                <p>点单了，点单了！小伙伴们快来勾选出适合本单位的工作项目吧！当然，亲们可不要任选乱点单啊~克制住自己的双手，最多只能点<span>三项哦！三项哦！三项哦！</span></p>
                <p>勾选完毕后，请下滑页面到最底部点击“完成”按钮，并在下一页面完善信息后确认提交，即可完成点单。亲，准备好了吗？开始点单吧！</p>
            </div>
        </div>
        <div id="clickBox">
            <div id="clickListHead">2017重庆共青团改革重点项目清单</div>
            <div id="clickHead">
                <div class="clickNum">序号</div>
                <div class="clickProjectFuck">所属项目</div>
                <div class="clickJoinFuck">是否参与</div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">01</div>
                    <div class="clickProject">凝聚青年，团结引领青年听党话、跟党走</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="01" id="one" name="">
                            <label for="one"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>开展“学习习总书记讲话，强化共青团员意识”主题教育实践活动，围绕党的十九大、建团95周年、建军90周年、市第五次党代会、重庆直辖20周年开展主题报告、专题宣讲、青春故事分享、团队仪式教育、网络主题活动
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">02</div>
                    <div class="clickProject">凝聚青年，团结引领青年听党话、跟党走</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="02" id="two" name="">
                            <label for="two"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>“总有一种感动，让我们的青春泪流满面”文化产品生产及推广
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">03</div>
                    <div class="clickProject">凝聚青年，团结引领青年听党话、跟党走</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="03" id="three" name="">
                            <label for="three"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>青年马克思主义者培养工程
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">04</div>
                    <div class="clickProject">凝聚青年，团结引领青年听党话、跟党走</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="04" id="four" name="">
                            <label for="four"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>“青年之声”互动社交平台建设
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">05</div>
                    <div class="clickProject">凝聚青年，团结引领青年听党话、跟党走</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="05" id="five" name="">
                            <label for="five"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>“常春藤”网络舆论引导青年突击队建设
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">06</div>
                    <div class="clickProject">服务大局，助推五大功能区发展战略实施</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="06" id="six" name="">
                            <label for="six"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>未来企业家培养青锋计划，贫困大学生创业帮扶“青禾工程”，农村青年电商培育工程
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">07</div>
                    <div class="clickProject">服务大局，助推五大功能区发展战略实施</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="07" id="seven" name="">
                            <label for="seven"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>参与“创青春”青年创新创业大赛、“五小”创新晒活动
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">08</div>
                    <div class="clickProject">服务大局，助推五大功能区发展战略实施</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="08" id="eight" name="">
                            <label for="eight"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>城乡社区市民学校深化“四点半课堂” “青少年安全自护教育”服务品牌项目，参与创“星”活动
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">09</div>
                    <div class="clickProject">服务大局，助推五大功能区发展战略实施</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="09" id="nine" name="">
                            <label for="nine"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>“希望工程·圆梦行动”“冬日阳光·温暖你我”新春关爱活动
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">10</div>
                    <div class="clickProject">服务大局，助推五大功能区发展战略实施</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="10" id="ten" name="">
                            <label for="ten"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>“山茶花”扶贫攻坚青年突击队建设
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">11</div>
                    <div class="clickProject">服务大局，助推五大功能区发展战略实施</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="11" id="xOne" name="">
                            <label for="xOne"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>“山城雪豹”抢险救灾青年突击队建设
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">12</div>
                    <div class="clickProject">当好桥梁，传递党政温暖、反映青年呼声</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="12" id="xTwo" name="">
                            <label for="xTwo"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>实施“彩虹帮教”，推行“行为矫正+职业教育+就业融入”三步帮教模式
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">13</div>
                    <div class="clickProject">当好桥梁，传递党政温暖、反映青年呼声</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="13" id="xThree" name="">
                            <label for="xThree"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>12355青少年服务台“台—站—室”三级服务体系建设和社会化维权队伍、青少年维权岗创建
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">14</div>
                    <div class="clickProject">当好桥梁，传递党政温暖、反映青年呼声</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="14" id="xFour" name="">
                            <label for="xFour"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>落实“共青团与人大代表、政协委员面对面”活动
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">15</div>
                    <div class="clickProject">当好桥梁，传递党政温暖、反映青年呼声</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="15" id="xFive" name="">
                            <label for="xFive"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>青年社会组织骨干、青少年事务社工培养，推动政府购买青少年事务社会工作服务
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">16</div>
                    <div class="clickProject">从严治团，建设更加充满活力坚强的共青团</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="16" id="xSix" name="">
                            <label for="xSix"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>团支部书记队伍建设
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">17</div>
                    <div class="clickProject">从严治团，建设更加充满活力坚强的共青团</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="17" id="xSeven" name="">
                            <label for="xSeven"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>机关开放日活动、大宣传大调研活动
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">18</div>
                    <div class="clickProject">从严治团，建设更加充满活力坚强的共青团</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="18" id="xEight" name="">
                            <label for="xEight"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>团员发展调控工作，落实“入团先当志愿者”要求，加强“推优入党”
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div class="clickClass">
                <div class="projectName">
                    <div class="clickNum">19</div>
                    <div class="clickProject">从严治团，建设更加充满活力坚强的共青团</div>
                    <div class="clickJoin">
                        <div class="checkBoxA">
                            <input type="checkbox" value="19" id="xNine" name="">
                            <label for="xNine"></label>
                        </div>
                    </div>
                </div>
                <div class="projectDetBox">
                    <div class="projectDet">
                        <span>目标内容：</span>群团服务站建设
                    </div>
                    <div class="more">点击展开</div>
                </div>
            </div>
            <div id="clickYes">完成</div>
        </div>
        <div id="confirmBox">
            <img src="__PUBLIC__/img/bigBg.png" id="bigBg">
            <div id="prompt">请完善以下信息并提交</div>
            <div id="allInput">
                <div class="inputBox">
                    <div class="inputName">单位:</div>
                    <div class="inputDet">
                        <input type="text" name="company" class="myIput" placeholder="请填写单位全称">
                    </div>
                </div>
                <div class="inputBox">
                    <div class="inputName">姓名:</div>
                    <div class="inputDet">
                        <input type="text" name="username" class="myIput">
                    </div>
                </div>
                <div class="inputBox">
                    <div class="inputName">手机:</div>
                    <div class="inputDet">
                        <input type="text" name="phone" class="myIput">
                    </div>
                </div>
            </div>
            <div id="lastConfirm">
                <div id="back">重新点单</div>
                <div id="confirmYes">确认提交</div>
            </div>
        </div>
        <div id="alertBox">
            <div id="meng"></div>
            <div id="alert">
                <img src="__PUBLIC__/img/wrong.png" id="stateImg">
                <div id="stateDet">
                    <span class="lineOne">点单成功</span>
                    <span class="lineTwo">2017年让我们撸起袖子加油干吧！</span>
                </div>
                <div id="stateYes">确定</div>
            </div>
        </div>
		<script>
			var indexPath = "{:U('Index/index')}";
        	var clickPath = "{:U('Index/clickPage')}";
        	var morePath = "{:U('Index/more')}";
        	var publicPath = "__PUBLIC__";
		</script>
    	<script type="text/javascript" src="__PUBLIC__/js/click.js?v={:time()}"></script>
		<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script>
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
                timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
                nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
                signature: "{$signature['signature']}",// 必填，签名，见附录1
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'hideAllNonBaseMenuItem'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
            wx.ready(function(){
                wx.onMenuShareTimeline({
                    title: '邀你点单 | 要想工作有亮点，快到重庆共青团改革重点项目中来选！有惊喜哦~', // 分享标题
                    link: "{$signature['url']}",
                    imgUrl: "http://hongyan.cqupt.edu.cn/gqtOrder/Public/img/share.png",
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '邀你点单 | 要想工作有亮点，快到重庆共青团改革重点项目中来选！有惊喜哦~', // 分享标题
                    desc: '放大招啦！重庆共青团推出“点单工作法”！鼓励大家发挥优势，勾选亮点工作！2017年，让我们撸起袖子加油干吧！', // 分享描述
                    link: "{$signature['url']}",
                    imgUrl: "http://hongyan.cqupt.edu.cn/gqtOrder/Public/img/share.png",
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQQ({
                    title: '邀你点单 | 要想工作有亮点，快到重庆共青团改革重点项目中来选！有惊喜哦~', // 分享标题
                    desc: '放大招啦！重庆共青团推出“点单工作法”！鼓励大家发挥优势，勾选亮点工作！2017年，让我们撸起袖子加油干吧！', // 分享描述
                    link: "{$signature['url']}",
                    imgUrl: "http://hongyan.cqupt.edu.cn/gqtOrder/Public/img/share.png",
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
		</script>
	</body>
</html>