<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="__PUBLIC__/js/flexible.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
    </head>
    <body>
        <img src="__PUBLIC__/img/bg.png" alt="bg" id="bg">
        <img src="__PUBLIC__/img/tuanSign.png" alt="tuanSign" id="tuanSign">
        <img src="__PUBLIC__/img/activityMark.png" alt="activityMark" id="activityMark">
        <div id="menu">
        	<div class="box">
        	    <div id="iSign" class="a">
        		    <div class="b">我要点单</div>
        		    <div class="c"></div>
        	    </div>
        	</div>
        	<div class="box">
        	    <div id="moreDet" class="a">
        		    <div class="b">查看详情</div>
        		    <div class="c"></div>
        	    </div>
        	</div>
        </div>
        <div id="foot"><span> ©</span>共青团重庆市委</div>
        <script type="text/javascript">
            var indexPath = "{:U('Index/index')}";
            var clickPath = "{:U('Index/clickPage')}";
            var morePath = "{:U('Index/more')}";
            var publicPath = "__PUBLIC__";

            var iSign = document.querySelector("#iSign");
        	var moreDet = document.querySelector("#moreDet");

        	iSign.addEventListener('click', function () {
        		window.location.href = "{:U('Index/clickPage')}";
        	});

        	moreDet.addEventListener('click', function () {
        		window.location.href = "{:U('Index/more')}"
        	});
        </script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
                timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
                nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
                signature: "{$signature['signature']}",// 必填，签名，见附录1
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'hideAllNonBaseMenuItem'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
            wx.ready(function(){
                wx.onMenuShareTimeline({
                    title: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享标题
                    link: "http://mp.weixin.qq.com/s?__biz=MjM5NDAzNDM2MQ==&mid=401028673&idx=1&sn=be047c29e501192df9432b224ff59044#rd",
                    imgUrl: "http://hongyan.cqupt.edu.cn/cquptluck/Public/images/index/share.jpg",
                    success: function () {
                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享标题
                    desc: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享描述
                    link: "http://mp.weixin.qq.com/s?__biz=MjM5NDAzNDM2MQ==&mid=401028673&idx=1&sn=be047c29e501192df9432b224ff59044#rd",
                    imgUrl: 'http://hongyan.cqupt.edu.cn/cquptluck/Public/images/index/share.jpg', // 分享图标
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQQ({
                    title: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享标题
                    desc: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享描述
                    link: "http://mp.weixin.qq.com/s?__biz=MjM5NDAzNDM2MQ==&mid=401028673&idx=1&sn=be047c29e501192df9432b224ff59044#rd",
                    imgUrl: 'http://hongyan.cqupt.edu.cn/cquptluck/Public/images/index/share.jpg', // 分享图标
                    success: function () {
                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
        </script>
    </body>
</html>