<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="__PUBLIC__/js/flexible.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
        <title>团团邀你来点单</title>
    </head>
    <body>
        <img src="__PUBLIC__/img/bg.png" alt="bg" id="bg">
        <img src="__PUBLIC__/img/tuanSign.png" alt="tuanSign" id="tuanSign">
        <img src="__PUBLIC__/img/activityMark.png" alt="activityMark" id="activityMark">
        <div id="menu">
        	<div class="box">
        	    <div id="iSign" class="a">
        		    <div class="b">我要点单</div>
        		    <div class="c"></div>
        	    </div>
        	</div>
        	<div class="box">
        	    <div id="moreDet" class="a">
        		    <div class="b">查看详情</div>
        		    <div class="c"></div>
        	    </div>
        	</div>
        </div>
        <div id="bigBoss">
            <img src="__PUBLIC__/img/bigBoss.png" id="bigA">
            <img src="__PUBLIC__/img/bigButton.png" id="bigB">
        </div>
        <div id="foot"><span> ©</span>共青团重庆市委</div>
        <script type="text/javascript">
            var indexPath = "{:U('Index/index')}";
            var clickPath = "{:U('Index/clickPage')}";
            var morePath = "{:U('Index/more')}";
            var publicPath = "__PUBLIC__";

            var iSign = document.querySelector("#iSign");
            var moreDet = document.querySelector("#moreDet");
            var menu = document.querySelector("#menu");
            var bigB = document.querySelector("#bigB");
            var bigBoss = document.querySelector("#bigBoss");

            iSign.addEventListener('click', function () {
                window.location.href = "{:U('Index/clickPage')}";
            });

            moreDet.addEventListener('click', function () {
                window.location.href = "{:U('Index/more')}"
            });

            bigB.addEventListener('click', function () {
                menu.style.display = "block";
                bigBoss.style.display = "none";
        </script>
        <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script>
            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
                timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
                nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
                signature: "{$signature['signature']}",// 必填，签名，见附录1
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'hideAllNonBaseMenuItem'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });
            wx.ready(function(){
                wx.onMenuShareTimeline({
                    title: '团团邀你来点单', // 分享标题
                    link: "{$signature['url']}",
                    imgUrl: "http://hongyan.cqupt.edu.cn/gqtOrder/Public/img/share.png",
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareAppMessage({
                    title: '团团邀你来点单', // 分享标题
                    desc: '2017年，重庆共青团将以“全委工作普遍做，亮点工作重点做”为原则，统筹兼顾、突出重点，做出亮点成绩。', // 分享描述
                    link: "{$signature['url']}",
                    imgUrl: "http://hongyan.cqupt.edu.cn/gqtOrder/Public/img/share.png",
                    type: '', // 分享类型,music、video或link，不填默认为link
                    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
                wx.onMenuShareQQ({
                    title: '团团邀你来点单', // 分享标题
                    desc: '2017年，重庆共青团将以“全委工作普遍做，亮点工作重点做”为原则，统筹兼顾、突出重点，做出亮点成绩。', // 分享描述
                    link: "{$signature['url']}",
                    imgUrl: "http://hongyan.cqupt.edu.cn/gqtOrder/Public/img/share.png",
                    success: function () {
//                        alert('分享成功!');// 用户确认分享后执行的回调函数
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }
                });
            });
        </script>
    </body>
</html>