<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="__PUBLIC__/js/flexible.js"></script>
        <script src="__PUBLIC__/js/ajax.js"></script>
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/more.css">
    </head>
    <body>
        <img src="__PUBLIC__/img/bigBg.png" id="bigBg">
        <div id="alertBox">
            <div id="meng"></div>
            <div id="yourDet">
                <img src="__PUBLIC__/img/close.png" id="close">
                <div id="yourPrompt">该单位的点单为以下内容</div>
                <div id="yourList"></div>
            </div>
        </div>
        <div id="morePrompt">
        	<span>2017重庆共青团改革重点项目</span>
        	<span>点单详情</span>
        </div>
        <div id="headName">
        	<div class="headPost">单位</div>
        	<div class="headPost">所选项目序号</div>
        </div>
        <div id="moreBox">
            <div id="back">返回</div>
        	<div id="foot"><span> ©</span>共青团重庆市委</div>
        </div>
    <script src="__PUBLIC__/js/more.js"></script>
    </body>
    <script>
        var indexPath = "{:U('Index/index')}";
        var clickPath = "{:U('Index/clickPage')}";
        var morePath = "{:U('Index/more')}";
        var publicPath = "__PUBLIC__";
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: 'wx81a4a4b77ec98ff4', // 必填，公众号的唯一标识
            timestamp: "{$signature['timestamp']}", // 必填，生成签名的时间戳
            nonceStr: "{$signature['noncestr']}", // 必填，生成签名的随机串
            signature: "{$signature['signature']}",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'hideAllNonBaseMenuItem'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
            wx.onMenuShareTimeline({
                title: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享标题
                link: "http://mp.weixin.qq.com/s?__biz=MjM5NDAzNDM2MQ==&mid=401028673&idx=1&sn=be047c29e501192df9432b224ff59044#rd",
                imgUrl: "http://hongyan.cqupt.edu.cn/cquptluck/Public/images/index/share.jpg",
                success: function () {
                    alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareAppMessage({
                title: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享标题
                desc: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享描述
                link: "http://mp.weixin.qq.com/s?__biz=MjM5NDAzNDM2MQ==&mid=401028673&idx=1&sn=be047c29e501192df9432b224ff59044#rd",
                imgUrl: 'http://hongyan.cqupt.edu.cn/cquptluck/Public/images/index/share.jpg', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQQ({
                title: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享标题
                desc: '【@重邮缘】“11.11” 来了，听说你还单着呢！没关系，这里有......', // 分享描述
                link: "http://mp.weixin.qq.com/s?__biz=MjM5NDAzNDM2MQ==&mid=401028673&idx=1&sn=be047c29e501192df9432b224ff59044#rd",
                imgUrl: 'http://hongyan.cqupt.edu.cn/cquptluck/Public/images/index/share.jpg', // 分享图标
                success: function () {
                    alert('分享成功!');// 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        });
    </script>
</html>