<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="../js/flexible.js"></script>
        <script src="../js/ajax.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/more.css">
    </head>
    <body>
        <img src="../img/bigBg.png" id="bigBg">
        <div id="alertBox">
            <div id="meng"></div>
            <div id="yourDet">
                <img src="../img/close.png" id="close">
                <div id="yourPrompt">该单位的点单为以下内容</div>
                <div id="yourList"></div>
            </div>
        </div>
        <div id="morePrompt">
        	<span>2017重庆共青团改革重点项目</span>
        	<span>点单详情</span>
        </div>
        <div id="headName">
        	<div class="headPost">单位</div>
        	<div class="headPost">所选项目序号</div>
        </div>
        <div id="moreBox">
            <div id="back">返回</div>
        	<div id="foot">&#64;共青团重庆市委</div>
        </div>
    <script src="../js/more.js"></script>
    </body>
</html>